<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/ws" class="btn btn-secondary">viewer</a>
<a href="/wss" class="btn btn-secondary">esp</a>
<a href="/admindashboard" class="btn btn-secondary">Admin</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
