<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %> your token: <%= token %></p>
<a href="/ws" class="btn btn-secondary">Incubator</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
