<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<!-- <a href="/wss" class="btn btn-secondary">esp</a> -->
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<hr>
<ul>
    <% devices.forEach(device => { %>
        <a href="/viewer?d=<%= device.uuid %>&option=com_jumi&amp;fileid=3&amp;Itemid=11" onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=450,height=630'); return false;" class="btn btn-secondary">Incubator #<%= device.uuid %></a>
    <% }) %>
</ul>