<div class="main container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10"></div>
    <div class="col-lg-1"></div>
  </div>
  <div class="row">
    <div class="col-lg-9"></div>
    <div class="col-lg-3">
      <img src="/images/chick.jpg" alt="chick">
    </div>
  </div>
</div>





<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>Customer login</p>
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div> -->

<!-- <div class="row cover"> -->

<!-- </div> -->

<div class="row">
  <div class="col-lg-10"></div>
  <div class="col-lg-2">
    <div class="card card-body text-center">
      <p>Customer login</p>
      <a href="/users/login" class="btn btn-primary btn-block">Login</a>
    </div>
  </div>
</div>