body {
  background-color: #eef5f94d;
}

.header {
  background-color: #414755;
  min-height: 60px;
}

.img-container {
  width: 31px;
  height: 31px;
  background-color: #414755;
  float: right;
  margin-right: 30px;
  margin-top: 14.5px;
  display: inline;
}

/* 
.img-mask {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
} */

.cover {
  background: url('/images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  
}

/* html { 
  background: url(/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.card {
  background-color: #ffffff46;
}